SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/reservation
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

POSTGRES_DB=reservation
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres